
	<div class="col-md-5 col-md-offset-1" style="margin-top:10px;color:white; font-size:12px;">
		<p>IUPUI and Regenstrief Institute</p>
	</div>

	<div class="col-md-2" style="margin-top:10px; float:right;color:white; font-size:10px;">
		<p>Copyright &copy; 2015</p>
	</div>
