	<div class="col-lg-5 col-md-offset-1" style="margin-top:10px;color:white; font-size:24px;">
		Health Info Visualization
	</div>
	<div class="col-lg-5">
		<ul class="nav navbar-nav navbar-right">
			<li><%= link_to "Home",    root_path %></li>
			<li><%= link_to "Help",    help_path %></li>
			<li><%= link_to "About",   about_path %></li>
		</ul>
	</div>
</div>
